:root{
    --aqua-background-color: rgb(10, 63, 70);
    --purple-background-color: rgb(74, 3, 116);

}

* {
    font-family: 'Poppins', sans-serif;
    color: white;

    a{
        text-decoration: none;
    }
}

/* animation */

.animate__animated.animate__flipInY {
    --animate-duration: 1s;
    --animate-delay: 0.1s;
  }


body {
    background-color: var(--purple-background-color);
    overflow: hidden;
    transition: opacity 0.2s ease-in-out ;
}

body{
    opacity: 1;
}

/* REUSABLE CLASS */

.mp{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 0px 20px 0px black;
    background-color: var(--aqua-background-color);
    border-radius: 10px;
    height: 32em;
    width: 25em;
}

/* Inside Wrapper */

.form-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 50px 0px;

    .fa-circle-user{
        position: relative;
        margin: 5px 0px 40px 0px;
    }
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-field{
        margin:  10px 0px;
        font-weight: bolder;
        color: black
    }

    .btn-container{
        width: 100%;
        margin: 30px 0px 0px 0px;
        display: flex;
        justify-content: space-between;
    }

    #signin{
        text-align: center;
        border-radius: 5px;
        transition: background-color 0.5s ease;
    }
    #signin:hover{
        background-color: rgb(0, 0, 0);
        color: yellow;
    }

    #register{
        background-color:  transparent;
        border: 0;
        color: white;
        transition: color 1s ease;

        &:hover{
            color: yellow;
        }
    }

    .input-style{
        background-color: black;
        transition: maxHeight 3s ease;
        overflow: hidden;
        padding: 10px;
        border-radius: 10px;
    }

    .icon{
        color: yellow;
        margin: 0 5px;
    }

    input{
        background-color: transparent;
        border: 0;
        outline: 0;
        color: yellow;
        font-weight: bold;
        width: 250px;
        letter-spacing: 1px;
        margin-left: 5px;
        
    }

}

